body {
	background-color: $gray;
	color: $black;
	font-family: "verdana";
	padding: 1em;
}

small {
	font-size: 0.8em;
	font-style: italic;
}

.name span {
	font-weight: 700;
}

.name.readed span {
	font-weight: 500;
}
