@import "settings/color";
@import "generic/reset";
@import "base/base";
@import "object/buttons";

.manager, .names {
	background-color: $white;
}

.manager {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.names {
	margin: 1em 0;
}

.name {
	padding: 0.5em;
}
